html, body{
    width: 100%;
    height: 100%;
    color: gray;
}

body{
    margin-top: 50px;
}
.text_container {
    height: inherit;
    width: 75%;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    color: white;
    padding: 10px;
    
}
.tmdb_logo{
    height: 50px;
    position: absolute; 
    bottom: 0;
    left: 0;
}
.posterimg {
    height: 100px;
    float: left;
    border-radius: 70px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    margin: 10px;
}

#app {
    height: 100%;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#myNavmenu {
    text-align: center;
}

.navbar-toggle{
    float: left;
}

.input-group {
    text-align: center;
    padding-left: 15px;
    margin-top: 20px;
}
.btn {
    margin-top: 15px;
}

@media (min-width: 0) {
    .navbar-toggle-reveal {
        display: block; 
    }
}